
<div id="exercises" class="chooser-page">
  <table class="chooser-box">
    <tr><td><%= erb :'kata_exercise/heading' %></td></tr>
    <tr><td><%= erb :'shared_exercise/sub_heading' %></td></tr>
    <tr><td><%= erb :'shared_exercise/display_names' %></td></tr>
    <tr><td><%= erb :'shared_exercise/next_button' %></td></tr>
  </table>
<div>
