<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/exercise_heading' %>
    <%= erb :'shared/display_names' %>
    <%= erb :'shared/exercise_next_button' %>
  </div>
<div>
