
@import "colour";
@import "fonts";
@import "rounded-corner";
@import "edged-panel";
@import "wide-list-item";
@import "button";
@import "body";
@import "centered";

.chooser-page
{
  width:100%;
  height:100%;
  text-align:center;
  display:inline-block;
  margin: { top:10px; }
}

.heading
{
  @include non-code-font();
  font-size:40px;
}

//- - - - - - - - - - - - - - - - - - - - - - - - -

.choose-problem-page, .choose-custom-problem-page, .choose-ltf-page, .choose-type-page
{
  width:100%;
  height:100%;
  text-align:center;
  display:inline-block;
  margin: { top:10px; }
  .edged-panel { width:835px; }
}

.title
{
  @include non-code-font();
  padding-left:6px;
  font-size:58px;
  color:$lighter-color;
  text-align:left;
  position:relative; top:-19px;
}

.sub-title
{
  @include non-code-font();
  padding-left:6px;
  font-size:30px;
  margin-bottom:10px;
  color:$lighter-color;
  text-align:left;
}

.display-box
{
  @include centered();

  .display-names   { width:300px; max-width:300px; height:360px; max-height:360px; }
  .display-content { width:500px; max-width:500px; height:360px; max-height:360px; }
  .display-names, .display-content
  {
    display:inline-block;
    overflow-y:auto;
    overflow-x:none;
  }
  .display-names
  {
    margin-right:5px;
    padding: { top:6px; bottom:6px; }
    position:relative; top:4px;
  }
  .display-name
  {
    @include wide-list-item();
  }
  .display-content
  {
    @include rounded-corner();
    padding: { top:8px; left:8px; right:8px; bottom:0px; }
    font-size:11px;
    resize:none;
  }
}

button.next, button.switch, button.create
{
  @include non-code-font();
  font-size:40px;
  margin: { top:15px; }
}
button.switch
{
  float:right;
  margin-right:2px;
  position:relative;
  top:-431px;
  font-size:21px;
}

button.create.group, button.create.individual
{
  font-size:40px;
  width:830px;
  display:block;
  text-align:left;
}
