
@import "colour";
@import "fonts";
@import "rounded-corner";
@import "edged-panel";
@import "wide-list-item";
@import "button";
@import "body";
@import "centered";

.chooser-page
{
  width:100%;
  height:100%;
  text-align:center;
  display:inline-block;
  margin: { top:10px; }
  //font-size:1.15em;
}

.heading
{
  @include non-code-font();
  font-size:40px;
  margin-bottom:10px;
  color:$lighter-color;
  text-align:left;
}

.display-box
{
  @include centered();

  .display-names   { width:300px; max-width:300px; height:360px; max-height:360px; }
  .display-content { width:500px; max-width:500px; height:360px; max-height:360px; }
  .display-names, .display-content
  {
    @include rounded-corner();
    display:inline-block;
    margin-right:5px;
    overflow-y:auto;
    overflow-x:none;
  }
  .display-names
  {
    padding: { top:6px; bottom:6px; }
    position:relative; top:4px;
  }
  .display-name { @include wide-list-item(); }
  .display-content
  {
    padding: { top:8px; left:8px; right:8px; bottom:0px; }
    font-size:13px;
  }

}

button.next, button.create
{
  @include non-code-font();
  font-size: 25px;
  margin-top: 15px;
}
