<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    cd.goto(`/creator/choose_type?${cd.urlParams()}&language_name=${name}`);
  });

});
</script>

<div id="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new practice</div>
    <div class="sub-title">choose your language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
  </div>
</div>
