<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

  $('a.confirm.ok').on('click', cd.goHomeAfterNavigate);

});

function updateConfirm() {
    const name = encodeURIComponent(cd.selectedDisplayName);
    $('a.confirm.ok').attr('href', `/creator/confirm?${cd.urlParams()}&language_name=${name}`);
    if (cd.urlParam('type') === 'group') {
        $('a.confirm.ok').attr('target', "_self");
    } else {
        $('a.confirm.ok').attr('target', "_blank");
    }
}
</script>

<div id="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <a href="javascript:void(0)" class="button large confirm ok">ok</a>
    <a href="javascript:updateConfirm(); javascript:void(0)" class="update confirm" style="display:none;"></a>
  </div>
<div>
