<script>
'use strict';
$(() => {

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    window.location = `/creator/choose_type?${cd.urlParams()}&language_name=${name}`;
  });

});
</script>

<div class="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new exercise</div>
    <div class="sub-title">choose a language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="next">next</button>
  </div>
<div>
