<script>
'use strict';
$(() => {

  $('button.group' ).click(() => cd.goto('/creator/choose_problem?type=group'));
  $('button.single').click(() => cd.goto('/creator/choose_problem?type=single'));

});
</script>

<div class="choose-type-page">
  <div class="edged-panel">
    <div class="title">create a new exercise</div>
    <div class="sub-title">a group exercise, or a single exercise?</div>
    <button type="button" class="group">a group exercise</button>
    <button type="button" class="single">a single exercise</button>
  </div>
<div>
