<script>
'use strict';
$(() => {

  cd.homeIcon.show();

  $('.type').html(cd.urlParam('type'));

  $('button.next').click(() => {
    const name = cd.selectedDisplayName;
    const params = `exercise_name=${encodeURIComponent(name)}`;
    cd.goto(`/creator/choose_ltf?${cd.urlParams()}&${params}`);
  });

  $('button.skip').click(() => cd.goto(`/creator/choose_ltf?${cd.urlParams()}`));

  $('button.switch').click(() => cd.goto(`/creator/choose_custom_problem?${cd.urlParams()}`));

});
</script>

<div class="choose-problem-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
    <button type="button" class="small skip">skip</button>
    <button type="button" class="small switch">switch to custom problems</button>
  </div>
<div>
