<script>
'use strict';
$(() => {

  const urlParams = () => {
    const url = window.location.search;
    return url.substring(url.indexOf('?') + 1);
  };

  $('button.create.group').click(() => {
    window.location = '/home/index';
    window.open(`/creator/create_group_exercise?${urlParams()}`);
  });

  $('button.create.single').click(() => {
    window.location = '/home/index';
    window.open(`/creator/create_kata_exercise?${urlParams()}`);
  });

});
</script>

<div class="choose-type-page">
  <div class="edged-panel">
    <div class="title">create a new exercise</div>
    <div class="sub-title">choose the exercise type</div>
    <button type="button" class="create group">create a group exercise</button>
    <button type="button" class="create single">create a single exercise</button>
  </div>
<div>
