<script>
'use strict';
$(() => {

  $('button.create.group' ).click(() => goto(`/creator/create_group_exercise?${cd.urlParams()}`));
  $('button.create.single').click(() => goto(`/creator/create_kata_exercise?${cd.urlParams()}`));

  const goto = (url) => {
    window.location = '/home/index';
    window.open(url);
  };

});
</script>

<div class="choose-type-page">
  <div class="edged-panel">
    <div class="title">create a new exercise</div>
    <div class="sub-title">choose the exercise type</div>
    <button type="button" class="create group">create a group exercise</button>
    <button type="button" class="create single">create a single exercise</button>
  </div>
<div>
