<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

  $('button.ok' ).click(() => {
      const name = encodeURIComponent(cd.selectedDisplayName);
      const postArgs = cd.toJSON(`${cd.urlParams()}&display_name=${name}`)
      $.post('/creator/create.json', postArgs, (response) => {
          cd.windowOpen(`/kata/edit/${response.id}`);
      });
  });

  $('button.switch').click(() => cd.goto(`/creator/choose_problem?${cd.urlParams()}`));
});
</script>

<div id="choose-custom-problem-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a custom problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large ok">ok</button>
    <button type="button" class="small switch">switch to problems</button>
  </div>
</div>
