<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

});

function updateConfirm() {
    const name = cd.selectedDisplayName;
    const param = encodeURIComponent(name);
    $('a.confirm.ok').attr('href', `/creator/confirm?${cd.urlParams()}&display_name=${param}`);
    $('a.confirm.ok').attr('target', "_blank");
}

</script>

<div id="choose-custom-problem-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a custom problem</div>
    <%= erb :'shared/display_names' %>
    <a href="javascript:void(0)" class="button large confirm ok">ok</a>
    <a href="javascript:updateConfirm(); javascript:void(0)" class="update confirm" style="visibility: hidden"></a>
  </div>
<div>
