<script>
'use strict';
$(() => {

  cd.homeIcon.show();

  $('.type').html(cd.urlParam('type'));

  $('button.next').click(() => {
    const name = cd.selectedDisplayName;
    const param = encodeURIComponent(name);
    cd.goto(`/creator/confirm?${cd.urlParams()}&display_name=${param}`);
  });

});
</script>

<div class="choose-custom-problem-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a custom problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
  </div>
<div>
