<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    const params = cd.urlParams() + `&language_name=${name}`;
    $.post('/creator/create.json', cd.toJSON(params), (response) => {
      cd.goto(response.route);
    });
  });

});
</script>

<div id="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
  </div>
<div>
