<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

  $('button.ok').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    const params = cd.urlParams() + `&display_name=${name}`;
    $.post('/creator/create.json', toJSON(params), (response) => {
      if (cd.urlParam('type') === 'group') {
        cd.goto(response.route);
      } else {
        cd.windowOpen(response.route);
        $('.home-icon').click();
      }
    });
  });

  const toJSON = (s) => {                               // "x=1&y=2&z=3"
    const args = s.split('&');                          // [ "x=1", "y=2", "z=3" ]
    const elements = args.map((arg) => arg.split('=')); // [ ["x","1"],["y","2"],["z","3"]]
    const obj = elements.reduce((m,a) => {
      m[a[0]] = decodeURIComponent(a[1]);
      return m;
    }, {});                                 // { "x":"1", "y":"2", "z":"3" }
    return JSON.stringify(obj);        // '{ "x":"1", "y":"2", "z":"3" }'
  };

});
</script>

<div id="choose-custom-problem-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a custom problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large ok">ok</button>
  </div>
<div>
