<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('.type').html(cd.urlParam('type'));

  $('button.ok' ).click(() => {
      const name = encodeURIComponent(cd.selectedDisplayName);
      const postArgs = cd.toJSON(`${cd.urlParams()}&language_name=${name}`)
      $.post('/creator/create.json', postArgs, (response) => {
          cd.windowOpen(`/kata/edit/${response.id}`);
      });
  });
});
</script>

<div id="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title">choose a language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large ok">ok</button>
  </div>
</div>
