<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    cd.goto(`/creator/choose_ltf?exercise_name=${name}`);
  });

  $('button.skip').click(() => cd.goto(`/creator/choose_ltf`));
  $('button.switch').click(() => cd.goto(`/creator/choose_custom_problem`));

});
</script>

<div id="choose-problem-page">
  <div class="edged-panel">
    <div class="title">create a new practice</div>
    <div class="sub-title">choose your problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
    <button type="button" class="small skip">skip</button>
    <button type="button" class="small switch">switch to custom problems</button>
  </div>
</div>
