<script>
'use strict';
$(() => {

  $('.type').html(cd.urlParam('type'));

  $('button.confirm' ).click(() => cd.goto(`/creator/submit?${cd.urlParams()}`));

  const fillIn = (paramName, name) => {
      const value = cd.urlParam(paramName);
      if (value) {
        $(`.${paramName}`).html(`${name} = ${value}`);
      }
  };

  fillIn('exercise_name', 'problem');
  fillIn('display_name',  'custom-problem');
  fillIn('language_name', 'language & test-framework');

});
</script>

<div class="confirm-page">
  <div class="edged-panel">
    <div class="title">create a new <span class="type"></span> exercise</div>
    <div class="sub-title exercise_name"></div>
    <div class="sub-title display_name"></div>
    <div class="sub-title language_name"></div>
    <button type="button" class="large confirm">confirm</button>
  </div>
<div>
