<script>
'use strict';
$(() => {

  cd.setupHomeIcon();
  $('button.ok').click(() => cd.goto('/'));

});
</script>

<div id="error-page">
  <div class="edged-panel">
    <div class="title">500 error</div>
    <img src="/images/avatars/all_colour.png" class="avatars"/>
    <button type="button" class="large ok">sorry</button>
  </div>
</div>
