<script>
'use strict';
$(() => {

  const groupId = "<%= @group_id %>";

  $('button.ok').click(() => cd.goto(`/creator/enter?id=${groupId}`));

});
</script>

<div id="full-page">
  <div class="edged-panel">
    <div class="title">sorry, it's full</div>
    <img src="/avatars/image/all" class="avatars"/>
    <button type="button" class="large ok">ok</button>
  </div>
</div>
