<script>
'use strict';
$(() => {

  const groupId = "<%= @group_id %>";

  $('.ok.button').click(() => {
    window.location = `/home/enter?id=${groupId}`;
  });

});
</script>

<div id="full-page">
  <div class="edged-panel">

    <div class="title">sorry, it's full</div>
    <img src="/avatars/image/all" class="avatars"/>
    <div class="ok button">ok</div>

  </div>
</div>
