<script>
'use strict';
$(() => {

  const urlParam = (name) => {
    const results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
    return (results !== null) ? results[1] || 0 : false;
  };

  $('button.create').click(() => {
    const exerciseName = urlParam('exercise_name');
    const displayName = encodeURIComponent(cd.selectedDisplayName);
    const params = `exercise_name=${exerciseName}&language_name=${displayName}`;
    window.location = `/creator/group_language_create?${params}`;
  });

});
</script>

<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/language_heading' %>
    <%= erb :'shared/display_names' %>
    <button type="button" class="create">create the exercise</button>
  </div>
<div>
