<script>
'use strict';
$(() => {

  $('button.next').click(() => {
    const displayName = cd.selectedDisplayName;
    const param = 'exercise_name=' + encodeURIComponent(displayName);
    window.location = `/creator/group_language_choose?${param}`;
  });

  $('button.switch').click(() => window.location = '/creator/group_custom_choose');

});
</script>

<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/exercise_heading' %>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
    <button type="button" class="small switch">switch to customized problems</button>
  </div>
<div>
