<script>
'use strict';
$(() => {

  $('button#ok').click(() => {
    const displayName = cd.selectedDisplayName;
    const params = 'display_name=' + encodeURIComponent(displayName);
    window.location = `<%= @next_url %>?${params}`;
  });

});
</script>

<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/custom_heading' %>
    <%= erb :'shared/display_names' %>
    <button type="button" id="ok">create my new custom exercise</button>
  </div>
<div>
