<script>
'use strict';
$(() => {

  $('button.next').click(() => {
    const displayName = cd.selectedDisplayName;
    const params = `exercise_name=${encodeURIComponent(displayName)}`;
    window.location = `/creator/kata_language_choose?${params}`;
  });

  $('button.switch').click(() => window.location = '/creator/kata_custom_choose');

});
</script>

<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/exercise_heading' %>
    <%= erb :'shared/display_names' %>
    <button type="button" class="next">next</button>
    <button type="button" class="switch">switch to customized problems</button>
  </div>
<div>
