<script>
'use strict';
$(() => {

  $('button.create').click(() => {
    const displayName = cd.selectedDisplayName;
    const params = 'display_name=' + encodeURIComponent(displayName);
    window.location = `/creator/kata_custom_create?${params}`;
  });

});
</script>

<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/custom_heading' %>
    <%= erb :'shared/display_names' %>
    <button type="button" class="create">create the exercise</button>
  </div>
<div>
