<script>
'use strict';
$(() => {

  cd.setupHomeIcon();
  $('button.create.single' ).click(() => cd.goto('/creator/choose_problem?type=single'));
  $('button.enter'         ).click(() => cd.goto('/creator/enter'));

});
</script>

<div id="single-page">
  <div class="edged-panel">
    <div class="title">i'm on my own</div>
    <button type="button" class="large create single">create a new single exercise</button>
    <button type="button" class="large enter">enter an existing exercise</button>
  </div>
</div>
