snyk.container.scan.json

creator/reports/*
creator/reports/.*

creator/test/evidence.json

creator/test/server/reports/*
creator/test/server/reports/.*

creator/test/client/reports/*
creator/test/client/reports/.*
