<div class="chooser-page">
  <div class="chooser edged-panel">
    <%= erb :'shared/language_heading' %>
    <%= erb :'shared/display_names' %>
    <%= erb :'group_language/ok_button' %>
  </div>
<div>
