
<div id="languages-chooser-page">
  <table id="languages-chooser-box">
    <tr><td><%= erb :'group_language/heading' %></td></tr>
    <tr><td><%= erb :'shared_language/sub_heading' %></td></tr>
    <tr><td><%= erb :'group_language/display_names' %></td></tr>
    <tr><td><%= erb :'group_language/ok_button' %></td></tr>
  </table>
<div>
