<form action="https://www.paypal.com/donate" method="post" target="_top" id="donate">
<input type="hidden" name="business" value="license@cyber-dojo.org" />
<input type="hidden" name="item_name" value="Cyber-Dojo Foundation" />
<input type="hidden" name="currency_code" value="GBP" />
<input type="image" src="/images/donateGBP.png" border="0" name="submit" 
       title="Donate GBP with PayPal" 
	   alt="Donate GBP with PayPal button" />
<img alt="" 
     border="0" 
	 src="https://www.paypal.com/en_GB/i/scr/pixel.gif" 
	 width="1" 
	 height="1" />
</form>
