
<div id="custom" class="chooser-page">
  <div class="chooser-box">
    <%= erb :'kata_custom/heading' %>
    <%= erb :'kata_custom/display_names' %>
    <%= erb :'kata_custom/ok_button' %>
  </div>
<div>
