<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    cd.goto(`/creator/choose_type?display_name=${name}`);
  });

  $('button.switch').click(() => cd.goto(`/creator/choose_problem?${cd.urlParams()}`));
});
</script>

<div id="choose-custom-problem-page">
  <div class="edged-panel">
    <div class="title">create a new practice</div>
    <div class="sub-title">choose your custom problem</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
    <button type="button" class="small switch">switch to problems</button>
  </div>
</div>
