<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('button.kata' ).click(() => cd.goto('/creator/choose_problem?type=kata'));
  $('button.group').click(() => cd.goto('/creator/choose_problem?type=group'));

});
</script>

<div id="choose-type-page">
  <div class="edged-panel">
    <div class="title">create a new practice</div>
    <div class="sub-title">choose your practice type</div>

    <button class="group" type="button">
      <span class="fork-option-name">classroom</span>
      <ul>
        <li>multiple avatars (eg, lion, salmon, tuna)</li>
        <li>dashboard showing all avatars</li>
        <li>each avatar has own source files</li>
      </ul>
    </button>
    <button class="kata" type="button">
      <span class="fork-option-name">single</span>
      <ul>
        <li>no avatar</li>
        <li>no dashboard</li>
        <li>one set of source files</li>
      </ul>
      <span class="fork-option-note">If you want an ensemble/mob style practice, choose this and take turns.</span>
    </button>

  </div>
</div>
