<script>
'use strict';
$(() => {

  cd.setupHomeIcon();

  $('button.next').click(() => {
    const name = encodeURIComponent(cd.selectedDisplayName);
    const params = `${cd.urlParams()}&language_name=${name}`;
    $.post('/creator/create.json', cd.toJSON(params), (response) => {
      cd.goto(response.route);
    });
  });

});
</script>

<div id="choose-ltf-page">
  <div class="edged-panel">
    <div class="title">create a new practice</div>
    <div class="sub-title">choose your language &amp; test-framework</div>
    <%= erb :'shared/display_names' %>
    <button type="button" class="large next">next</button>
    <div class="help"><a href="https://github.com/cyber-dojo/cyber-dojo/blob/master/docs/how-to-contribute-to-start-points.md" target="_blank">I'd like to help</a> maintain the language &amp; test-frameworks</div>
  </div>
</div>
