<script>
'use strict';
$(() => {

  cd.setupHomeIcon();
  const groupId = "<%= @group_id %>";
  $('button.ok').click(() => cd.goto(`/creator/enter?id=${groupId}`));

});
</script>

<div id="full-page">
  <div class="edged-panel">
    <div class="title">sorry, it's full</div>
    <img src="/images/avatars/all_colour.png" class="avatars"/>
    <button type="button" class="large ok">ok</button>
  </div>
</div>
